USE [QLSV]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/10/2026 11:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[masv] [varchar](20) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [varchar](20) NULL,
	[ngaysinh] [varchar](50) NULL,
	[noisinh] [nvarchar](100) NULL,
	[diachi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
